{% extends "layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
    {% include "jsfxn.html" %}

<!-- <p>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="jsfxn.js"></script>
    </head>

    <body>
        <div id="chart_div"></div>
    </body>

- This is a Jinja2 template
- it calls jsfxn.html, which should call jsfxn.js, which should call drawChart() at end
- no errors appear, but no chart appears either

</p> -->
{% endblock %}