{% extends "layout.html" %}
{% block title %}
Celtics Stats
{% endblock %}
{% block content %}
<head>
<!--     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML with JS Example</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
</head>
<body>
    <h1>Hello, World!</h1>
    <p>This is an example HTML file with an accompanying JavaScript file.</p>
    
    <!-- Include the external JavaScript file -->
    <!--<div id="chart_div"></div>-->
    <!-- Attention: The below seems to work-->
    <script type="text/javascript" src="../static/hello.js"></script>
    
    <p id="demo"></p>
    
    <script type="text/javascript" src="../static/math.js"></script>

    <p id="chart_div"></p>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- this runs but only produces first writing -->
    <script type="text/javascript" src="../static/script.js"></script>

</body>
{% endblock %}
