<!DOCTYPE html>
<html>
<head>
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script type="module" src="jsfxn2.js"></script>
</head>
<body>
    <!-- <div id="chart_div"></div> -->
</body>
</html>

<!-- Attention: this file works by entering the following line into browswer:
file:///Users/alexanderchansky/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/GitHub/AlexDS/tutorial_2/hello_app/templates/jsfxn2.html -->

<!-- But does not work when pasting into middle of HTML expectations -->


